#content-warning-toggle {
    display: none;
  }
  
  #content-warning-toggle:not(:checked) ~ #content-warning {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    pointer-events: auto;  /* Elements are clickable */
}

#content-warning-toggle:checked ~ #content-warning {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;  /* Elements are not clickable */
}
  
  #content-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    background-color: #000000;
  }
  
  #actions label,
  #actions a {
    color: #ffffff;
    background-color: #330f0f;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  #actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #actions label:hover,
  #actions a:hover {
    background-color: #ff4d4d;
  }
@-webkit-keyframes dropBounce {
  0% {
    transform: translateY(-400px) rotate(0deg);
  }
  60% {
    transform: translateY(30px) rotate(0deg);
  }
  80% {
    transform: translateY(-1px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(-3deg);
  }
}
@keyframes dropBounce {
  0% {
    transform: translateY(-400px) rotate(0deg);
  }
  60% {
    transform: translateY(30px) rotate(0deg);
  }
  80% {
    transform: translateY(-1px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(-3deg);
  }
}
#warning-text {
  -webkit-animation: dropBounce 0.5s ease-in-out;
  animation: dropBounce 0.5s ease-in-out;
  color: white;
  font-size: 1.5rem; /* increase font size, adjust as necessary */
  translate: 0px -20px;
  /* White glow effect */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}
.highlight-1 {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
}
.highlight-2 {
  color: cyan;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan;
}
.highlight-3 {
  color: magenta;
  text-shadow: 0 0 10px magenta, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta;
}
.loading-bar {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 10px;
  z-index: 9999;
  width: 0%;
  background-color: white;
}