nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 20px; /* Adjusted from top: 10px; to bottom: 10px; */
  z-index: 8000;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px; /* adjust as necessary */
}

.nav-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#cal-toggle-button {
  background-color: #ff4d4d;
}

#help-button {
  background-color: #ffffff;
}

#webnovel-button {
  background-color: #55f9fc;
}

.nav-button:focus {
  outline: none;
}

#cal-toggle:checked ~ nav #cal-toggle-button,
#toggle-footer:checked ~ nav #help-button,
#webnovel-toggle:checked ~ nav #webnovel-button {
  transform: scale(1);
}

#cal-toggle:not(:checked) ~ nav #cal-toggle-button,
#toggle-footer:not(:checked) ~ nav #help-button,
#webnovel-toggle:not(:checked) ~ nav #webnovel-button {
  transform: scale(0.5);
}

#toggle-footer:checked ~ #footerContainer {
  bottom: 100px; /* Adjusted from bottom: 5px; to top: 5px; */
}

#cal-toggle:checked ~ #cal-item {
  transform: translate(-50%, -50%) translateY(0) rotateY(0);
}

#webnovel-toggle:checked ~ #dark-overlay {
  opacity: 1;
}
