nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  position: fixed;
  width: 100%;
  bottom: 20px; /* Adjusted from top: 10px; to bottom: 10px; */
  z-index: 8000;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#cal-toggle-button, #help-button, #dark-mode-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#cal-toggle-button:focus, #help-button:focus, #dark-mode-button:focus {
  outline: none;
}

#cal-toggle:checked ~ nav #cal-toggle-button,
#toggle-footer:checked ~ nav #help-button,
#dark-mode-toggle:checked ~ nav #dark-mode-button {
  transform: scale(1);
}

#cal-toggle:not(:checked) ~ nav #cal-toggle-button,
#toggle-footer:not(:checked) ~ nav #help-button,
#dark-mode-toggle:not(:checked) ~ nav #dark-mode-button {
  transform: scale(0.5);
}

#toggle-footer:checked ~ #footerContainer {
  bottom: 100px; /* Adjusted from bottom: 5px; to top: 5px; */
}

#cal-toggle:checked ~ #cal-item {
  transform: translate(-50%, -50%) translateY(0) rotateY(0);
}

#dark-mode-toggle:checked ~ #dark-overlay {
  opacity: 1;
}

#pm,#nm {  
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;}

  .page-turn-button {
    position: fixed;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #prev-button {
    left: 20px;
  }
  
  #next-button {
    right: 20px;
  }
  
  #prev-button::before,
  #next-button::after {
    content: "";
    width: 20px;
    height: 20px;
  }
  