#dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden; /* Add this */
  }
  
  .chapter {
    max-height: 85vh; /* Adjust this as needed */
    overflow-y: auto; /* Add this */
    margin-bottom: 2em;
    color: white;
    top: 0;
    line-height: 1.5; /* Adjust as needed */
    font-size: 0.9rem;
  }
  
  .chapter::-webkit-scrollbar {
    width: 10px;
  }
  
  .chapter::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
  }
  
  .chapter::-webkit-scrollbar-thumb {
    background: #ff4d4d;
    border-radius: 10px; 
  }
  
  .chapter::-webkit-scrollbar-thumb:hover {
    background: #922c2c;
  }