@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('../css/calendar.css');@import url('../css/navribbon.css');@import url('../css/wiki.css');@import url('../css/theme.css');
@font-face {font-family: 'VT323', monospace;src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('woff2');}
@keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}
@keyframes rotateIn {0% {opacity: 0;transform: translateY(0) rotateY(-45deg) translateX(-300px);}100% {opacity: 1;transform: translateY(0) rotateY(0deg) translateX(-47%);}}
@keyframes rotateOut {0% {transform: rotate(0deg);}100% {transform: rotate(3deg) translateX(-47%) translateY(10px);;}}
@keyframes rainbow {0% {color: red;}16% {color: orange;}32% {color: yellow;}48% {color: green;}64% {color: blue;}80% {color: indigo;}100% {color: violet;}}
@keyframes vibrate {0% {transform: translate(0);}20% {transform: translate(-1px, 1px);}40% {transform: translate(1px, -1px);}60% {transform: translate(-1px, -1px);}80% {transform: translate(1px, 1px);}100% {transform: translate(0);}}
@keyframes blink {0%, 100% {opacity: 1;}50% {opacity: 0;}}
.spin {animation: spin 5s linear infinite;}
.window.active {opacity: 1;z-index: 50;animation: rotateIn 0.5s forwards;}
.window.inactive {opacity: 0.5;z-index: 0;pointer-events: none;animation: rotateOut 0.5s forwards;}
nav.ribbon .dropdown-content a.calendar::before {content: "\25CF";margin-right: 8px;animation-name: rainbow;animation-timing-function: ease;animation-duration: 3s;animation-iteration-count: infinite;left: 0;}
.vibrate {animation: vibrate 0.3s infinite;}
.blink {animation: blink 1s infinite;}